[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs/yaml-mode"]
	path = emacs/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "skype-notify"]
	path = skype-notify
	url = https://gist.github.com/1006316.git
[submodule "emacs/scss-mode"]
	path = emacs/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "emacs/markdown"]
	path = emacs/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
